@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@100;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.5;
  color: #444;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

p,
blockquote {
  margin: 1rem 0;
}

img {
  width: 100%;
  display: block;
}

input,
textarea,
select {
  width: 100%;
  font: inherit;
  padding: 0.25rem 0.5rem;
  margin: 0 0 1rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

blockquote {
  display: block;
  margin-left: 1rem;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Handlee", cursive;
  letter-spacing: 0.125rem;
}

.btn {
  padding: 0.25rem 0.5rem;
  border: 0 solid #777;
  border-radius: 0;
  cursor: pointer;
  font: inherit;
  display: inline-block;
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.btn {
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-brand {
  background-color: #97369b;
  color: white;
}

.btn-brand-secondary {
  background-color: #e5f740;
  color: #444;
}

.btn-brand-secondary:hover {
  background-color: #ebf971;
}

.btn-primary {
  background-color: blue;
  color: white;
  border: 0 solid #6b6bff;
}

.btn-success {
  background-color: green;
  color: white;
  border: 0 solid #518a51;
}

.btn-accent {
  background-color: lightblue;
  color: black;
  border: 0 solid #cbdfe6;
}

.btn-warning {
  background-color: yellow;
  color: black;
  border: 0 solid #f5f599;
}

.btn-danger {
  background-color: red;
  color: white;
  border: 0 solid #ff7575;
}

.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.25rem;
  font-size: 1rem;
}

.contact-box .icon {
  font-size: 2.5rem;
  color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.contact-box .contact-info {
  font-size: 1rem;
}

.contact-box .contact-info .headline {
  color: #444;
}

.contact-box .contact-info a {
  color: #97369b;
  text-decoration: none;
}

.contact-box .contact-info .info {
  text-align: left;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.container-thin {
  max-width: 53.36rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.container-thinner {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
}

@media screen and (min-width: 600px) {
  .col-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.col-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .col-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

.col-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
}

@media screen and (min-width: 600px) {
  .col-4 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .col-4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .col-2,
  .col-3,
  .col-4 {
    gap: 3rem;
  }
}

.navbar {
  background-color: white;
  color: #444;
  min-height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar.open {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .navbar-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 80rem;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar .navbar-center .logo {
  text-transform: uppercase;
  width: 16rem;
  max-width: 75%;
}

.navbar .navbar-center .logo a {
  color: #444;
  text-decoration: none;
}

.navbar .navbar-center .spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar .navbar-center .menu {
  color: #444;
}

.navbar .horizontal-menu a {
  color: #444;
  text-decoration: none;
}

.navbar .horizontal-menu a.active {
  text-decoration: underline;
}

.navbar .horizontal-menu a:hover,
.navbar .horizontal-menu a:focus {
  text-decoration: underline;
}

.navbar .horizontal-menu li {
  display: inline;
  margin-left: 1rem;
}

.nav-toggle-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .nav-toggle-button {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .horizontal-menu {
    display: none;
  }
}

.responsive-menu {
  position: fixed;
  top: 4rem;
  left: 0;
  background-color: white;
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.responsive-menu.open {
  display: block;
  width: 100%;
  height: 100vh;
  border-top: 1px solid white;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.responsive-menu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.responsive-menu a {
  color: #444;
  display: block;
  width: 80rem;
  margin: 0;
  padding: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: "Handlee", cursive;
  letter-spacing: 0.25rem;
  font-weight: bold;
}

.responsive-menu a:hover {
  background-color: #97369b;
  color: white;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-sticky.open {
  background-color: white;
}

.navbar-sticky.active {
  background-color: white;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  color: #444;
  z-index: 2;
}

.navbar-sticky.active a,
.navbar-sticky.active .logo a {
  color: #444;
}

.navbar-sticky.active .nav-toggle-button {
  color: #444;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

.hero {
  height: 90vh;
  min-height: 25rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.01)), to(rgba(0, 0, 0, 0.99))), url("../images/hero.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.99)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 4rem;
}

.hero .hero-content {
  width: 90vw;
  max-width: 40rem;
  margin: 0 auto;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}

.hero .hero-content h1,
.hero .hero-content h2 {
  text-align: center;
}

.hero .hero-content h1 {
  font-weight: lighter;
}

.hero .hero-content h2 {
  font-weight: lighter;
}

.hero .hero-content p {
  text-align: center;
}

.hero .hero-content .btn {
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.hero.hero-sticky {
  margin-top: 0;
}

@media screen and (max-width: 599px) {
  .hero h1 {
    font-size: 1.5rem;
  }
  .hero h2 {
    font-size: 1.25rem;
  }
  .hero .btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 992px) {
  .hero h1 {
    font-size: 3rem;
  }
}

section.banner {
  padding: 2rem 0;
}

.footer {
  padding: 2rem 0 1rem 0;
  line-height: 1.75;
}

.footer a {
  color: white;
}

.section {
  padding: 4rem 0;
}

.fade-in,
.from-left,
.from-right {
  opacity: 0;
  -webkit-transition: all 750ms ease-in;
  transition: all 750ms ease-in;
}

.fade-in.appear,
.from-left.appear,
.from-right.appear {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .from-left {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .from-right {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.bg-lightgray {
  background-color: #f3f3f3;
}

.bg-dark {
  background-color: #333;
}

.bg-brand {
  background-color: #97369b;
}

.text-light {
  color: white;
}

.text-small {
  font-size: 0.75rem;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.img-h-10 {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 10rem;
}

.img-h-20 {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 20rem;
}

.img-h-30 {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 30rem;
}

@media screen and (max-width: 599px) {
  .reverse-vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=main.css.map */